<h1>Listing teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Contestants</th>
      <th>Current Score</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.user.name %></td>
        <td>
          <ul>
            <% team.contestant_teams.each do |contestants| %>
              <li><%= contestants.contestant.name %></li>
            <% end %>
          </ul>
        </td>
        <td><%= team.current_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
