.row
  .col-md-12.text-center.hero-image
    .love-note Are you here for <br>the right reasons?
    = link_to "I'm here for #{Season.current_season.star_name.titleize}! 100%", leagues_path(), class: "btn btn-danger btn-lg"