/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);

 .margin-all-sm {
  margin: 10px;
 }

 .margin-all-md {
  margin: 20px;
 }

 .margin-top-md {
  margin-top: 20px;
 }

.strikethrough {
  text-decoration: line-through;
}

/*HOMEPAGE*/
.hero-image {
  background-image: url("/assets/rose-petals.jpg");
  background-position: top;
  height: 90vh;
}
.love-note {
  font-family: 'La Belle Aurore', cursive;
  font-size: 96px;
}